<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup Page</title>
</head>
<body>
<form action="#" method="post">
    <label>Firstname:</label>
    <input type="text" name="firstname" required/>
    <label>Lastname:</label>
    <input type="text" name="lastname" required/>
    <label>Username:</label>
    <input type="text" name="username" required/>
    <label>Email:</label>
    <input type="text" name="email" required/>
    <label>Password:</label>
    <input type="password" name="password" required/>
    <button type="submit">Login</button>
</form>
</body>
</html>